/* Color palette */

// primary colors
$teal: #009688;
$orange-yellow: #ffa100;
$light-gold: #ffd54f;
$pale-peach: #ffecb3;
$amber: #ffc107;

// UI-state
$tomato: #f44336;
$mid-green: #4caf50;
$turquoise-blue: #00bcd4;
$yellow: #e3e405;

// neutral fonts & icons
$black: #323232;
$grey: #6f6f6f;

// neutral background
$white: #fdfdfd;
$concrete: #f3f3f3;
$mercury: #e2e2e2;

// neutral border / disabled
$silver: #c8c8c8;

// dim color
$black-opaque: rgba(0, 0, 0, 0.5);
$white-opaque: rgba(255,255,255,0.9);

//casino table colors
$green: #0F691A;
$light-green: #30843a;
$dark-green: #133113;
// bright background
$white-smoke: #fafaf9;
