@import "../../stylesheets/colors";


.table {
	$width: 800px;
	
	border-collapse: separate;
	border-spacing: 2px;

	margin-left: auto;
	margin-right: auto;
	
	text-align: center;

	width: 800px;

	th, td {
		vertical-align: top;
	}
	
	td {
		width: #{$width / 12.0};
	}

	.borderless {
		border: none;
	}
}


