@import "../../stylesheets/colors";

.bet-table{
	background-color: $dark-green;
	border-color: $black;
	border-radius: 10px;
	border-width: 10px;
	border-style: solid;
}

.bet-summary{
	margin: auto;
	width: 300px;
	color: $white;
}

.button{
	color: $black;
	width: 100%;
}

.table{
	border-color: $white;
	border-width: 1px;
	border-style: solid;
}

.content{
	padding:5px;
}
