@import "../../stylesheets/colors";


.chips {
	text-align: center;
}

.chip {
	display: inline-block;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 1px solid $mercury;
	&.active {
		border: 1px solid $light-gold;
	}
}
