@import "../../stylesheets/colors";


.chips {
	text-align: center;
}

.chip {
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height: 50px;
	border-radius: 50%;
	border: 5px dashed $black;
	background-color: $white;
	color: $mercury;
	cursor: pointer;
	&.active {
		border: 5px dashed $light-gold;
		color: $black;
	}
}
