@import "../../stylesheets/colors";


.wrapper {
	display: inline-block;
	margin-left: 20px;
}

.navItem {
	display: inline-block;
	padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;

    font-size: 14px;
    line-height: 21px;

    a {
        color: $black;
        padding-top:15px;
        padding-bottom:15px;
        display:block;
    }
}
