:global {
	.btn-card {
		min-width: 42px;
	}

	.text-red {
		color: red;
	}

	.opponent-space, .my-space {
		border: 1px solid black;
		height: 200px;
		margin-bottom: 10px;
	}

	.my-space {
		margin-top: 150px;
	}

	.btn-space {
		padding-top: 150px;
	}

	.dead {
		background-color: rgba(#333, 0.5);
	}
}
