@import "../../stylesheets/variables";


.wrapper {
	display: inline-block;
	
	input {
		line-height: 26px;
		height: 30px;
	}
	button {
		padding-top: 7px;
		padding-bottom: 7px;
		height: 30px;
		font-size: 12px;
	}
}
